<div class="show-mobile">
    <div>
        <button (click)="toggleMenu()">
            <img src="../../../assets/svg/icon_menu.svg" alt="">
        </button>
        <a href="">
            <img src="../../../assets/svg/logo_yard_sale.svg" alt="">
        </a>
        <a href="">
            <img src="../../../assets/svg/icon_shopping_cart.svg" alt="">
        </a>
    </div>
    <div class="side-menu"  [class.active]="showMenu">
        <button (click)="toggleMenu()">Close</button>
        <ul>
            <li><a href="">Todos</a></li>
            <li><a href="">Ropa</a></li>
            <li><a href="">Electrodomesticos</a></li>
        </ul>
    </div>
</div>
<div class="hide-mobile">
    <div>
        <nav>
            <a href="" class="logo">
                <img src="../../../assets/svg/logo_yard_sale.svg" alt="">
            </a>
            <ul>
                <li><a href="">Todos</a></li>
                <li><a href="">Ropa</a></li>
                <li><a href="">Electrodomesticos</a></li>
            </ul>
        </nav>
        <div class="info">
            <div class="account">juank.hs5500@gmail.com</div>
            <div>
                <a href="">
                    <img src="../../../assets/svg/logo_yard_sale.svg" alt="">
                </a>
            </div>
        </div>

    </div>
</div>